* {
    margin: 0;
    padding: 0;
    
}
body, .two {
    font-family: 'Open Sans', sans-serif;
}
#quiz-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-direction: column;
   width: 100%;
   padding-top: 70px;
   color: rgba(50, 13, 80, 0.835);
   font-size: 30px;
   font-weight: bold;
   animation: mymove 3s infinite;
}
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px purple;}
}
.challenge-header {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 22px;
}
.directions {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 25px;
}
.directions p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}
.start {
    text-align: center;
    padding-top: 25px;
}
.btn {
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(50, 13, 80, 0.835);
    color: #fff;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;

}
header {
    padding-top: 20px;
}
header a:link {
    text-decoration: none;
    padding-left: 10px;
}
.hide {
    display: none;
}
#questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 40px;
}
.choice {
    background-color: rgba(50, 13, 80, 0.835);
    color: white;
    font-size: 28px;
}
.countdown-container {
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
}
#timer {
    font-size: 25px;
    color: rgba(50, 13, 80, 0.835);
}
.leaderboard {
    display: flex;
    justify-content: center;
    color: rgba(50, 13, 80, 0.835);
    font-size: 36px;
}
.leaderboard th {
    text-decoration: underline;
    padding-bottom: 25px;
    animation: mymove 3s infinite;
}
.high-footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.return {
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(50, 13, 80, 0.835);
    color: #fff;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;
}