* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Open Sans', sans-serif;
}
.quiz-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-direction: column;
   width: 100%;
   padding-top: 70px;
}
.challenge-header {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 22px;
}
.directions {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 25px;
}
.directions p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}
.start {
    text-align: center;
    padding-top: 25px;
}
.btn {
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: rgba(50, 13, 80, 0.835);
    color: #fff;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;
}
#highscore {
    border-bottom: none;
}